/* reset for page  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* global style */
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

*,
*::after
*::before{
    box-sizing: border-box;
}

body{
    line-height: 1.5;
}

img{width: 100%;}

h1,h2,h3,P.a{
    font-weight: bold;
    margin: 0.5rem 0 0.2rem;
    width: 95%;
    padding: 2.5%;
    color: #2B1B12;
}
h1{
    font-size: 2rem;
    padding: 0;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.5rem;
}

p{  
    font-size: 1rem;
    margin: 1em 0;
}
a{
    text-decoration: none;
    color: #2B1B12;
}
li{
    list-style: none;
}
/* whole page grid distribute */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    background-color: #2B1B12;
    color: white;
    border: none;
    padding:0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px; 
    margin: 1rem auto;
}
i,span{
    color: #2B1B12;
}

/* For mobile version web */

/* style the header */
header {
    width: 100%;
    background-color: #fef7f2;
}
.logo{
    width: 50%;
    margin: 0.25rem 1rem ;
}
.nav{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 1.25rem;
    font-weight:bold;
}
.signup{
    width:100%;
    display: flex;
    justify-content:center;
}
.signup a{
    margin: 0 0.8rem;
}

/* style the banner */
.banner{
    padding: 0 1rem;
    border-bottom: 0.15rem solid #2B1B12;
}
.location-reseach{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    position: relative;
}
.location-reseach form input {
    display: inline-block;
    width: 90%;
}
.location-span{
    position: absolute;
    /* margin-left: auto;
    justify-self: end; */
}
/* style the hero section */
.hero-section{
    margin: 1rem;
    border-bottom: 0.15rem solid #2B1B12;
}
.hero-section h2{
    padding:0;
}
.hero-section .stats{
    display:flex;
    flex-direction: row;
}
.hero-section .stat2{
    margin: 0 1rem;
}
/* style the why-choose-us section */
.why-choose-us h2{
    font-weight: bold;
}
.why-choose-us .section-container{
    background-color: #ddc7bb;
}
.why-choose-us span{
    display: flex;
    justify-content: center;
    background-color: #FBF5F1;
    padding: 1rem;
}
.why-choose-us h2,h3,p,span{
    margin: 0 1rem;
    text-align:center;
}
/* style the popular section */
.popular{
    text-align:center;
}
.popular img{
    margin: 0 1rem;
    border-radius: 10px; 
    max-width: 640px;
}

@media screen and (min-width: 750px){
/* style the header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav{
    padding: 0 1rem;
    margin: 0 2rem;
}
.nav li {
    display: inline-block;
    margin: 0.5rem;
}
/* style the banner */
    /* .banner {
        display: flex;
        flex-direction: column;
    } */
    .banner{
        border: hidden;
    }
   .banner-info{
        display: flex;
        align-items: center;
    }

    .banner img {
        max-width: 640px;
        width: 50%;
    }

    .location-reseach form {
        display: flex;
        background-color:#ddc7bb;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    .location-reseach form input {
       margin: 0 1rem;
       width: 80%;
    }
/* style the hero section */
    .hero-section{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
        border: hidden;
        margin: 0 1rem;
    }
    .hero-section img{
        display: flex;
        align-items: center;
    }
    .hero-section .content{
        padding: 0 3rem;
        /* margin: 0 1rem; */
    }
    .hero-section h2,p,div{
        margin: 0;
    }
    .hero-section h2{
        font-size: 1.5rem;
    }
    .hero-section p{
        font-size: 0.8rem;
        font-weight: bold;
        padding: 1rem 0;
    }
    .hero-section .stats p{
        margin-top: -0.8rem;
    }
    .hero-section .stats{
        display: flex;
        justify-content: space-between;
    }
    /* style the why-choose-us section  */

    .why-choose-us .section-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1rem;
        border-radius: 10px;  
        margin: 0;
        padding: 0;
    }
    .service-box h3,p,span{
        text-align: left;
    }
    .service-box h3,span{
        padding: 0;
        margin: 0;
    }
    /* style the popular section */
    .popular .section-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .section-container{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

}